@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* .pricing-th {
  @apply border-r border-b border-indigo-300;
} */

.pricing-tr-label {
  @apply whitespace-nowrap px-6 py-4 text-xs font-medium uppercase tracking-wider text-gray-400 border-r border-gray-800;
}

.pricing-td {
  @apply whitespace-nowrap px-6 py-4 text-center text-sm text-gray-200 border-r border-gray-800;
}

@media (max-width: 768px) {
  .pricing-th,
  .pricing-tr-label,
  .pricing-td {
    display: block; /* stack the table cells */
  }

  .pricing-tr-label {
    @apply bg-gray-800; /* differentiate labels from cells on small screens */
  }
}

@media (max-width: 480px) {
  /* even more styles adjustments for smaller screens */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}
